# Protéger l'accès aux fichiers

# Désactiver l'affichage du répertoire

Options -Indexes

# Autoriser l'accès aux fichiers PDF uniquement

<FilesMatch "\.(pdf)$">
Order Allow,Deny
Allow from all
</FilesMatch>

# Bloquer tous les autres fichiers

<Files \*>
Order Deny,Allow
Deny from all
</Files>
